@font-face
{
  font-family: UNCHeading;
  src: url('');
}

table img
{
  height: 100px;
}
table, th
{
  border: 3px solid black;
  border-collapse: collapse;
  padding-left: 10px:
  padding-right: 10px:
  text-align: center;
  font-family: "Comic Sans MS";
} 
th
{
  font-weight: bold;
  font-size: 18pt;
}
th ~ td
{
  font-family: "Comic Sans MS";
  border: 1px dotted black;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  list-style-position: inside;
  font-size: 14pt;
}
ul
{
  padding-inline-start: 0px;
}
#headerow
{
  background-color: goldenrod;
}
li
{
  display:block;
}
h1
{
  font-size: 3vw;
}
body > img
{
  width: 98vw;
}
