@font-face {
    font-family: 'lato';
    src: url('https://roguedeeds.github.io/css/fonts/Lato-Regular.ttf');
        }
@font-face {
    font-family: 'deco';
    src: url('https://roguedeeds.github.io/css/fonts/VintageDecorativeSigns-wq1Z.ttf');
        }
@font-face {
    font-family: 'monster';
    src: url('https://roguedeeds.github.io/css/fonts/MonsterOfFantasy-eZg4p.tt');
        }
.date
{
  color:rgb(214, 168, 40);
}
h1
{
  color:rgb(214, 168, 40);
  font-size: 9vw;
    font-family: 'monster';
}
img
{
  width:30vw;
}
h2
{
  color:rgb(199, 134, 14);
    font-family: 'monster';
    font-size: 7vw;
}
nav
{
  color:rgb(199, 134, 14);
}
p
{
    font-family: 'lato';
    font-size: 5vw;
}
  }
a:hover, l1:hover
    {
        color: rgb(214, 168, 40);
    }
li:hover 
    {
               color:rgb(214, 168, 40);
    }
a:hover;
    {
        color: rgb(199, 134, 14);
    }
li {
  padding-left: 1em;
  text-indent: -1em;
   }

li:before {
  content: "N";
  padding-right: 5px;
  font-family: 'deco';
}
}
table, th
{
    border: 5px solid rgb(214, 168, 40);
    border-collapse: collapse;
    padding-left: 10px;
    padding: right 10px;
    text-align: center;
    font-family: 'monster';
}
body
{
    background-color: rgb(220, 220, 220);
}
th
{
    font-weight: bold;
    font-size: 18pt; 
}
th ~ td
{
    font-family: 'lato';
    border: 1px dotted black;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    list-style-position: inside;
    font-size: 14px;
}
ul
{
    padding-inline-start: 0px;
}
}
td, th
{
    border: 2px solid black;
    padding: 15px;
    
}
table
{
    border-collapse: collapse;
}
th
{
    background-color: rgb(214, 168, 40);
    font-size: 18px;
}
