
@font-face {
    font-family: 'WOLVERINE';
    src: url('https://roguedeeds.github.io/css/fonts/Wolverins-2Vno.ttf');
}
@font-face {
    font-family: 'tome';
    src: url('https://roguedeeds.github.io/css/fonts/Tomeoftheunknown-3gL3.ttf');
        }
table img
{
    height: 100px;
}
body
{
    background-color: rgb(220, 220, 220);
}
table, th
{
    border: 5px solid rgb(14, 78, 6);
    border-collapse: collapse;
    padding-left: 10px;
    padding: right 10px;
    text-align: center;
    font-family: 'tome';
}
th ~ td
{
    font-family: 'UNCFooter';
    border: 1px dotted rgb(109, 6, 6);
    padding-left: 15px;
    padding-right: 15px;
    text-align: center
    list-style-position: inside;
    font-size: 14px;
}
li
{
    color: rgb(153, 54, 15);
}
h1
{
    font-size: 3vw;
    font-family: 'WOLVERINE';
}
h2
{
    font-size: 40px;
    font-family: 'WOLVERINE';
}
p
{
    font-family: 'UNCFooter';
}
td, th
{
    border: 2px solid rgb(49, 71, 58);
    padding: 15px;
    
}
table
{
    border-collapse: collapse;
}
th
{
    background-color: rgb(200, 119, 47);
    font-size: 18px;
}

