@font-face {
    font-family: 'tome';
    src: url('https://roguedeeds.github.io/css/fonts/Tomeoftheunknown-3gL3.ttf');
        }

@font-face {
    font-family: 'fira';
    src: url('https://roguedeeds.github.io/css/fonts/FiraSans-Regular.ttf');
        }
@font-face {
    font-family: 'autumn';
    src: url('roguedeeds.github.io/css/fonts/AutumnFlowers-9YVZK.otf');
}
h1
    {
       font-size: 60px;
    font-family: 'autumn';  
    }
h2
    {
        font-size: 40px;
    font-family: 'autumn';
    }
h3
    {
        font-size: 30px;
    font-family: 'autumn';
    }
p
   {
    font-size: 20px;
    font-family: 'fira';
  }
body
{
    background-color: rgb(252, 244, 236);
}
th:hover 
     {
                color:rgb(0, 100, 0); 
     }
a:hover, l1:hover
    {
        color: rgb(0, 100, 0);
    }
li:hover 
    {
               color:rgb(0, 100, 0) 
    }
img
    {
    height: 120px;
    }
a:hover;
    {
        color: rgb(0, 100, 0);
    }
.homebase
{
    height: 40px;
}
.sobemblempic
{
    height: 50px;
}
.sobpic
{
    height: 100px;
}
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
   }

li {
  padding-left: 1em;
  text-indent: -1em;
   }

li:before {
  content: "$";
  padding-right: 5px;
  font-family: 'not using';
}
a:visited 
{
  color: rgb(0, 100, 0);
}
a:link
{
  color: rgb(232, 134, 131);
}
