<style>
@font-face {
    font-family: 'UNCHeader';
    src: url('css/fonts/Arvo-Regular.ttf');
}

@font-face
{
    font-family: 'UNCFooter';
    src: url('css/fonts/OpenSans.ttf');
}

@font-face {
    font-family: 'DUNE';
    src: url('css/fonts/QuantumDUNE-eZOXg.ttf');
}

@font-face {
    font-family: 'WOLVERINE';
    src: url('css/fonts/Wolverins-2Vno.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Heroes';
    src: url('css/fonts/Heroes-PKzd2.ttf');
}

table img

{
    height: 100px;
}
table, th
{
    border: 5px solid rgb(91, 98, 100);
    border-collapse: collapse;
    padding-left: 10px;
    padding: right 10px;
    text-align: center;
    font-family: 'WOLVERINE';
}
body
{
    background-color: rgb(220, 220, 220);
}
th
{
    font-weight: bold
    font-size: 18pt; 
}
th ~ td
{
    font-family: 'UNCFooter';
    border: 1px dotted black;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center
    list-style-position: inside;
    font-size: 14px;
}
ul
{
    padding-inline-start: 0px;
}
#headerrow
{
    background-color:aquamarine;
}
li
{
    display:block;
}
h1
{
    font-size: 3vw;
    font-family: 'UNCFooter';
}
h2
{
    font-size: 40px;
    font-family: 'WOLVERINE';
}
p
{
    font-family: 'UNCFooter';
}
body > img
{
    width: 98vw;
}


.heropic
{
    height: 100px;
}
td, th
{
    border: 2px solid black;
    padding: 15px;
    
}
table
{
    border-collapse: collapse;
}
th
{
    background-color: rgb(7, 197, 87);
    font-size: 18px;
}
</style>

