@font-face {
    font-family: 'tome';
    src: url('https://roguedeeds.github.io/css/fonts/Lato-Regular.ttf');
        }
@font-face {
    font-family: 'tome';
    src: url('https://roguedeeds.github.io/css/fonts/MonsterOfFantasy-eZg4p.tt');
        }
.date
{
  color:rgb(114, 27, 27);
}
h1
{
  color:rgb(114, 27, 27);
  font-size: 9vw;
}
img
{
  width:30vw;
}
h2
{
  color:rgb(114, 27, 27);
}
nav
{
  color:rgb(114, 27, 27);
}
